<launch>
  <arg name="bringup" default="true"/>
  <arg name="drive" default="true"/>
  <arg name="camera" default="true"/>
  <arg name="lidar" default="true"/>
  <arg name="use_usb_cam" default="true"/>
  <arg name="usb_video_device" default="/dev/video0"/>
  <arg name="usb_pixel_format" default="yuyv"/>
  <arg name="aligned_depth" default="false"/>
  <arg name="color_width" default="640"/>
  <arg name="color_height" default="480"/>
  <arg name="color_fps" default="15"/>
  <arg name="detector" default="true"/>
  <arg name="detector_respawn" default="true"/>
  <arg name="target_seek" default="true"/>
  <arg name="wall_follow" default="false"/>

  <arg name="target_symbol" default="prompt"/>
  <arg name="image_topic" default="/camera/color/image_raw"/>
  <arg name="scan_topic" default="/scan"/>
  <arg name="cmd_vel_topic" default="/cmd_vel"/>
  <arg name="model_type" default="auto"/>
  <arg name="checkpoint_path" default="/nn_training/cnn/checkpoints/symbols_cnn_best.pt"/>
  <arg name="device" default="auto"/>
  <arg name="libgomp_preload" default="/lib/aarch64-linux-gnu/libgomp.so.1"/>
  <arg name="max_rate" default="5.0"/>
  <arg name="min_confidence" default="0.0"/>
  <arg name="publish_annotated" default="true"/>
  <arg name="localize_symbol" default="true"/>

  <arg name="target_min_confidence" default="0.75"/>
  <arg name="require_bbox" default="true"/>
  <arg name="require_classifier_ready" default="true"/>
  <arg name="classifier_timeout" default="2.0"/>
  <arg name="stop_distance" default="0.65"/>
  <arg name="approach_speed" default="0.16"/>
  <arg name="search_angular_speed" default="0.32"/>

  <group if="$(arg bringup)">
    <include file="$(find stingray_camera)/launch/triton.launch">
      <arg name="drive" value="$(arg drive)"/>
      <arg name="camera" value="$(arg camera)"/>
      <arg name="lidar" value="$(arg lidar)"/>
      <arg name="use_usb_cam" value="$(arg use_usb_cam)"/>
      <arg name="usb_video_device" value="$(arg usb_video_device)"/>
      <arg name="usb_pixel_format" value="$(arg usb_pixel_format)"/>
      <arg name="aligned_depth" value="$(arg aligned_depth)"/>
      <arg name="color_width" value="$(arg color_width)"/>
      <arg name="color_height" value="$(arg color_height)"/>
      <arg name="color_fps" value="$(arg color_fps)"/>
    </include>
  </group>

  <node pkg="symbols_recognition" type="symbol_classifier.py" name="symbol_classifier" output="screen" if="$(arg detector)" respawn="$(arg detector_respawn)" respawn_delay="3.0">
    <env name="LD_PRELOAD" value="$(arg libgomp_preload)"/>
    <param name="image_topic" value="$(arg image_topic)"/>
    <param name="checkpoint_path" value="$(arg checkpoint_path)"/>
    <param name="model_type" value="$(arg model_type)"/>
    <param name="device" value="$(arg device)"/>
    <param name="max_rate" value="$(arg max_rate)"/>
    <param name="min_confidence" value="$(arg min_confidence)"/>
    <param name="publish_annotated" value="$(arg publish_annotated)"/>
    <param name="localize_symbol" value="$(arg localize_symbol)"/>
  </node>

  <node pkg="symbols_recognition" type="target_symbol_controller.py" name="target_symbol_controller" output="screen" if="$(arg target_seek)">
    <param name="target_symbol" value="$(arg target_symbol)"/>
    <param name="result_topic" value="/symbol_classifier/result"/>
    <param name="scan_topic" value="$(arg scan_topic)"/>
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    <param name="min_confidence" value="$(arg target_min_confidence)"/>
    <param name="require_bbox" value="$(arg require_bbox)"/>
    <param name="require_classifier_ready" value="$(arg require_classifier_ready)"/>
    <param name="classifier_timeout" value="$(arg classifier_timeout)"/>
    <param name="stop_distance" value="$(arg stop_distance)"/>
    <param name="approach_speed" value="$(arg approach_speed)"/>
    <param name="search_angular_speed" value="$(arg search_angular_speed)"/>
  </node>

  <node pkg="symbols_recognition" type="real_wall_follower.py" name="real_wall_follower" output="screen" if="$(arg wall_follow)">
    <param name="scan_topic" value="$(arg scan_topic)"/>
    <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
  </node>
</launch>
